body {
    background-color: antiquewhite;
    text-align: center;
    font-family: 'Special Elite', system-ui;
}

h1 {
    margin-top: 200px;
    letter-spacing: 1rem;

    

}

#taskInput {
    width: 300px;
    padding: 5px;
    border: 2px solid rgb(213, 160, 116);
    border-radius: 5px;
    background-color: rgb(255, 252, 240);
    margin-top: 30px;
}

#taskList {
    list-style: none;
    text-align: center;
    display: inline-block;
    margin-inline: auto;
    padding-right: 60px;
    


}

.strike {
    text-decoration: line-through;
}

li {
    padding-block: 10px;
}


button {
    margin-left: 20px;
    background-color: rgb(255, 252, 240);
    border: none;
    font-size: 12px;
    color: rgb(213, 160, 116);
    padding-block: 3px;
    border-radius: 3px;
    
}
